SpeakSwift/SpeakSwift.xcodeproj/project.xcworkspace/xcuserdata/steve.xcuserdatad/UserInterfaceState.xcuserstate
SpeakSwift/SpeakSwift.xcodeproj/xcuserdata/steve.xcuserdatad/xcschemes/SpeakSwift.xcscheme
.DS_Store